  <div class="wrapper">
    <div class="cabecera">
        <img src="assets/Logo econoMart.png" alt="Icono" class="icono-izquierda">
        <button *ngIf="mostrarCrearLista" (click)="crearLista()" class="btn btn-custom boton-derecha">Crear lista <i class="fas fa-plus"></i></button>
        
    </div>

    <div class="container py-4">
      <button *ngIf="mostrarLista" (click)="irListaCompras()" class="btn btn-custom boton-derecha">
        Consultar lista <i class="fas fa-plus"></i>
      </button>

      <button *ngIf="mostrarLista" (click)="eliminarLista()" class="btn btn-custom boton-derecha">
        Eliminar lista <i class="fas fa-trash-alt"></i>
      </button>

      <div class="d-flex flex-wrap" >
        <div class="card rounded fixed-card" *ngFor="let producto of productos">
            <!-- Cuarto superior con imagen -->
            <img [src]="obtenerRutaImagenAleatoria()" class="card-img-top" alt="Imagen">
          
            <!-- Resto de la card con fondo gris -->
            <div class="card-body bg-light">
              <!-- Título y descripción -->
              <h5 class="card-title">{{producto._nombreproducto}}</h5>
              <p class="card-text">Precio de producto {{producto._precio | currency:'USD':'symbol':'1.2-2'}}</p>
          
              <!-- Botones de eliminar y agregar -->
                <button *ngIf="mostrarLista" (click)="agregarProductoLista(producto._idproducto)" type="button" class="btn btn-success btn-sm">
                  <i class="bi bi-plus"></i> Agregar
                </button>
              
            </div>
          </div>
      </div>
            
    </div>
    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
        <div class="texto-con-lineaF">
            <div class="linea-verticalF">
            <span>
                © 2023 Econo Mart, Inc.
            </span>
            </div>
            <span>Terms Privacy Security</span>
        </div>
        </div>
    </div>
    <div id="myModal" class="modal" [style.display]="mostrarModal ? 'block' : 'none'">
      <!-- Contenido del modal -->
      <div class="modal-content">
        <span class="close" (click)="cerrarModal()">&times;</span>
        <!-- Contenido del modal con el icono de chulito -->
        <p>{{mensajeModal}}<i class="fas fa-check-circle"></i></p>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
  