<div class="wrapper">
    <div class="cabecera">
        <img src="assets/Logo econoMart.png" alt="Icono" class="icono-izquierda">
        <div class="separador"></div>
        <div class="titulo-pagina">
            <h1 class="titulo">Editar producto</h1>
        </div>
    </div>
    <div class="container py-4">
        <div class="row">
          <!-- Columna Izquierda -->
          <div class="col-md-6 col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form class="scrollable-form">
                <div class="form-group ">
                    <label for="identificacion">Identificación<span class="required">*</span></label>
                    <input type="text" class="form-control" id="identificacion" name="_id"  placeholder="Identificación">
                </div>
                <div class="form-group">
                    <label for="nombres">Nombre <span class="required">*</span></label>
                    <input type="text" class="form-control" id="nombres" name="_nombre"  placeholder="Nombres">
                </div>
            </form>
          </div>
  
          <!-- Columna Derecha -->
          <div class="col-md-6 col-md-6 col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form class="scrollable-form">
                <div class="form-group">
                    <label for="usuario">Usuario<span class="required">*</span></label>
                    <input type="text" class="form-control" id="usuario" name="_login" placeholder="Usuario">
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="Botón-crear">
        <button (click)="cancelar()" class="btn btn-cancelar">Cancelar</button>
        <button class="btn btn-guardar">Guardar</button>
      </div>
    

    <div id="footer" class="footer-con-imagen">
            <div class="texto-con-lineaF">
                <div class="linea-verticalF">
                    <span>
                        © 2023 Econo Mart, Inc.
                    </span>
                </div>
                <span>Terms Privacy Security</span>
            </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  
