    /*Cabecera*/
    .cabecera {
        background-color: #FFFFFF;
        width: 100%;
        height: 11vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 5px solid #D47738;
    }
    .icono-izquierda {
        width: auto; 
        max-height: 80%; 
    }
    .separador {
        height: 50px; 
        width: 2px;
        background-color: #D47738; 
        margin: 0 10px;
    }
    .titulo-pagina {
        flex: 1;
        padding-left: 10px;
    }
    .titulo-pagina h1{
      color: #4C40B7;
    }
    /*controlar responsive*/
    @media (max-width: 768px) {
      .titulo {
          font-size: 24px; 
      }
    }
    /*contenedor principal*/
    .container {
        background-color: #f7f7f7;
        padding: 20px; 
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 60px;
        max-width: 700px; 
    }
    .required {
        color: red;
        margin-left: 5px; /* Agrega espacio entre la etiqueta y el asterisco */
    }
    .btn-guardar {
        background-color: #4C40B7;
        color: #F8F8F8; 
        margin: 10px; /* Espacio superior para separar el botón del formulario */
        margin-top: 20px;
    }
    .btn-guardar:hover{
        transform: scale(0.9);
        transition: all .3s;
    }
    .btn-cancelar:hover{
        transform: scale(0.9);
        transition: all .3s;
    }
    .btn-cancelar {
        background-color: #4D4D4D;
        color: #F8F8F8; 
        margin: 10px; /* Espacio superior para separar el botón del formulario */
        margin-top: 20px;
    }
    .Botón-crear{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    /*Footer*/
    #footer {
        display: flex;
        align-items: center;
        margin-top: auto;
        padding: 10px;
        background: #4C40B7;
        height: 50px;
    }
    .texto-con-lineaF{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 14px; /* Tamaño de fuente deseado */
        color: aliceblue;
        margin-left: 20px;
        display: flex;
        align-items: center;
        
    }
    .texto-con-lineaF span{
        padding-left: 15px;
        margin-right: 10px; /* Ajusta el espacio entre el texto y la línea vertical */
        
    }
    .linea-verticalF {
        border-right: 2px solid rgb(255, 255, 255);
        padding-right: 15px; /* Añade espacio entre la línea y el texto */
        margin-right: 15px; 
    
    }
    .footer-con-imagen {
        padding-left: 10px;
    }
    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }