<div class="wrapper">
    <div class="cabecera">
        <img src="assets/Logo econoMart.png" alt="Icono" class="icono-izquierda">
    </div>

    <div class="container py-4">
        <button  (click)="irMainPage()" class="btn btn-custom boton-izquierda">
            Cancelar
          </button>
          <button  (click)="crearLista()" class="btn btn-custom boton-derecha">
            Crear lista
          </button>
        <div class="table-responsive mt-4">
            <table class="table table-striped rounded">
                <thead>
                    <tr>
                        <th>Nombre producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let producto of productos; let i = index">
                        <tr>
                          <td>{{producto._nombreproducto}}</td>
                          <td>{{producto._precio | currency:'USD':'symbol':'1.2-2'}}</td>
                          <td>{{producto._cantidad}}</td>
                        </tr>
                      </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
        <div class="texto-con-lineaF">
            <div class="linea-verticalF">
            <span>
                © 2023 Econo Mart, Inc.
            </span>
            </div>
            <span>Terms Privacy Security</span>
        </div>
        </div>
    </div>
    <div id="myModal" class="modal" [style.display]="mostrarModal ? 'block' : 'none'">
      <!-- Contenido del modal -->
      <div class="modal-content">
        <span class="close" (click)="cerrarModal()">&times;</span>
        <!-- Contenido del modal con el icono de chulito -->
        <p>{{mensajeModal}}<i class="fas fa-check-circle"></i></p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  
